# Ignorar carpetas de configuración de Visual Studio
**/.vs/

# Archivos y carpetas específicos del sistema operativo
*.swp
*~
.DS_Store

# Archivos de configuración de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Carpeta de configuración de Visual Studio
.vs/

# Resultados de compilación
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
